
.cj-chatbot-card-content {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    // color: rgba(255, 255, 255, .5);
    padding: 0 10px;
    background: #ffffff;
    margin: 0px;
    position: fixed;
    width: 100%;
    top: 100px;
    z-index: 0;
  }
  
button.fab-bottom-button {
  background: transparent;
  border-style: none;
  bottom: 50px;
  width: 30px;
  right: 0;
  box-shadow: 0 -2px 5px -2px rgba(0,0,0,.2), 0 -2px 5px 0 rgba(0,0,0,.12);
  position: fixed;
  .material-icons {
    color: black;
    font-size: 30px;
  }
}
button.fab-top-button {
  background: transparent;
  border-style: none;
  bottom: 30px;
  width: 30px;
  right: 0;
  position: fixed;
  box-shadow: 0 3px 5px -2px rgba(0,0,0,.2), 0 3px 5px -2px rgba(0,0,0,.12);
  .material-icons {
    color: black;
    font-size: 30px;
  }
}