<ng-container *ngIf="aiBotInitMsg.initMsg">
    <div class="message" [ngClass]="{new:isNewAdded}">
        <figure class="avatar">
            <img src="{{ locPath }}/assets/image/chatbot_icon.png" alt="chatbot icon"/>
        </figure>
        <div [innerHTML]="aiBotInitMsg.initMsg | aiBotMsgFmt"></div>
    
        <div class="timestamp">
            {{timestamp | date:'shortTime' | replace:'AM':'오전' | replace:'PM':'오후'}}
        </div>
    </div>
    </ng-container>
    
    <ng-container *ngIf="aiBotInitMsg.notice">
    <div class="message" [ngClass]="{new:isNewAdded}">
        <figure class="avatar">
            <img src="{{ locPath }}/assets/image/chatbot_icon.png" alt="chatbot icon"/>
        </figure>
        <div [innerHTML]="aiBotInitMsg.notice | aiBotMsgFmt"></div>
    
        <div class="timestamp">
            {{timestamp | date:'shortTime' | replace:'AM':'오전' | replace:'PM':'오후'}}
        </div>
    </div>
    </ng-container>
    
    <ng-container *ngIf="aiBotInitMsg.topQuestionInfoVo">
    <div class="message" [ngClass]="{new:isNewAdded}">
        <figure class="avatar">
            <img src="{{ locPath }}/assets/image/chatbot_icon.png" alt="chatbot icon"/>
        </figure>
        <ng-container *ngFor="let topQstInfo of (aiBotInitMsg.topQuestionInfoVo ? aiBotInitMsg.topQuestionInfoVo: []); let last = last; let first = first; let index = index">
            <button class="selectButton" (click)="answerQuestion(topQstInfo.question)">{{topQstInfo.question}}</button>
        </ng-container>
    
        <div class="timestamp">
            {{timestamp | date:'shortTime' | replace:'AM':'오전' | replace:'PM':'오후'}}
        </div>
    </div>
    </ng-container>