
  .message {
    clear: both;
    float: left;
    padding: 0 10px;
    border-radius: 0 10px 10px 10px;
    background: #ebebeb;
    font-size: 11px;
    line-height: 1.5;
    margin-left: 40px;
    margin-top: 10px;
    position: relative;
    max-width: 60%;

    li{
      padding: 0px;
      margin: 0px;
    }
    
    &::before {
      content: '';
      position: relative;
      bottom: -8px;
      border-top: 8px solid #ebebeb;
      left: -18px;
      border-left: 8px solid transparent;
    }
    
    .avatar {
      position: relative;
      bottom: 25px;
      left: -55px;
      border-radius: 30px;
      width: 35px;
      height: 45px;
      overflow: hidden;
      margin: 0px 0px -55px 0px;
      padding: 0;

      img {
        width: 100%;
        height: auto;
      }
    }
// 상황별 Button 설정 시작 //
    .selectButton{
      font-size: 10px;
      background: #007dc3;
      width: 100%;
      color: #ffffff;
      border-style: none;
      margin-bottom: 5px;
      font-weight: bold;
      height: 30px;
    }
// 상황별 Button 설정 끝 //

    &:last-child {
      margin-bottom: 10px;
    }
    
    &.new {
      transform: scale(0);
      transform-origin: 0 0;
      animation: bounce 500ms linear both;
    }
    
    &.loading {

      &::before {
        border: none;
        animation-delay: .15s;
      }

      & span {
        display: block;
        font-size: 0;
        width: 50px;
        height: 20px;
        position: relative;

        &::before {
          margin-left: -7px;
        }

        &::after {
          margin-left: 7px;
          animation-delay: .3s;
        }
      }
    }
  }
  
// 시간 설정 시작 //
  .timestamp {
      position: relative;
      font-size: 8px;
      color: grey;
      font-weight: bolder;
      float: right;
      right: -53px;
    }
// 시간 설정 끝 //