      
<div class="message">
    <figure class="avatar">
        <img src="{{ locPath }}/assets/image/chatbot_icon.png" alt="chatbot icon"/>
    </figure>
    <div [innerHTML]="aiBotMsg.message | aiBotMsgFmt"></div>
    
    <!--배송조회-->
    <ng-container *ngFor="let rspDeliv of (aiBotMsg.responseDeliveryList ? aiBotMsg.responseDeliveryList.slice(0, maxDeliveryNum): []); let last = last; let first = first; let index = index">
        <div *ngIf="first">
            <hr class="hrTop">
        </div>

        <div class="aibotmsg_line_background">&nbsp;</div>

        <ng-container [ngSwitch]="rspDeliv.displayCode">
            <div class="aibotmsg_line complete" *ngSwitchCase="'배달완료'">&nbsp;</div>
            <div class="aibotmsg_line ongoing" *ngSwitchCase="'배달출발'">&nbsp;</div>
            <div class="aibotmsg_line" *ngSwitchDefault>&nbsp;</div>
        </ng-container>

        <button class="historyButton" (click)="deliverySearch(aiBotMsg.answerId, rspDeliv)">
        <table class="historyTable">
            <tr>
                <td class="historyDate">
                    <table>
                        <tr>
                            <span class="monthAndDay">{{rspDeliv.scanCodeDT | date:'M.d'}} </span>
                            <span class="dayOfTheWeek">{{rspDeliv.scanCodeDT | weekday }}</span><br>
                        </tr>
                        <ng-container [ngSwitch]="rspDeliv.displayCode">
                                <tr class="historyStatus complete" *ngSwitchCase="'배달완료'"><td>{{rspDeliv.displayCode}}</td></tr>
                                <tr class="historyStatus ongoing" *ngSwitchCase="'배달출발'"><td>{{rspDeliv.displayCode}}</td></tr>
                                <tr class="historyStatus" *ngSwitchDefault><td>{{rspDeliv.displayCode}}</td></tr>
                        </ng-container>
                    
                    </table>
                </td>
                <td class="historyContents">
                    <table>
                        <tr class="goodsName"><td>{{rspDeliv.skuNM}}</td></tr>
                        <tr class="tespbillNum"><td>{{rspDeliv.trspbillNum}}</td></tr>   
                    </table>
                </td>
            </tr>
        </table>
        </button>

        <div *ngIf="last">
            <ng-container *ngIf="aiBotMsg.responseDeliveryList.length > maxDeliveryNum">
            <button class="moreListButton" (click)="showMoreDelivList(maxDeliveryNum)">
                <img id="moreImg" src="{{ locPath }}/assets/image/arrow.png" alt="more button image">
                <span id="moreText">더보기</span>
            </button>
            </ng-container>
            <hr class="hrMore">
            <button class="actionChangeToggleBtn" [ngClass]="{checked:showInvoiceToggle}" (click)="showInvoiceInputBox()">송장 번호 입력</button>
            <hr class="hrBottomList">
        </div>
    </ng-container>

    <div *ngIf="aiBotMsg.showInvoiceBtn && aiBotMsg.responseDeliveryList.length == 0">
        <button class="actionChangeToggleBtn" [ngClass]="{checked:showInvoiceToggle}" (click)="showInvoiceInputBox()">송장 번호 입력</button>
    </div>
    
    <!--c 처음 선택버튼-->
    <ng-container *ngFor="let rspMoreAns of (aiBotMsg.responseMoreAnswer ? aiBotMsg.responseMoreAnswer: []); let last = last; let first = first; let index = index">
            <div *ngIf="first"> <hr class="hrMoreAns"> </div>
            
            <button class="selectButton" (click)="answerDetail(aiBotMsg.answerId, rspMoreAns)">{{rspMoreAns.answer}}</button>
            <div *ngIf="last">
                <hr class="hrBottom">
            </div>        
    </ng-container>
    <!--예약목록-->
    <ng-container *ngFor="let rspRsv of (aiBotMsg.responseReserveList ? aiBotMsg.responseReserveList.slice(0, maxReserveNum): []); let last = last; let first = first; let index = index">
        <div *ngIf="first"> <hr class="hrTop"> </div>

        <ng-container [ngSwitch]="rspRsv.prngstsNm">
            <div class="aibotmsg_line_reservation complete" *ngSwitchCase="'택배예약'">&nbsp;</div>
            <div class="aibotmsg_line_reservation cancel" *ngSwitchCase="'예약취소'">&nbsp;</div>
            <div class="aibotmsg_line_reservation" *ngSwitchDefault>&nbsp;</div>
        </ng-container>

        <button class="historyButton" (click)="reserveDetail(aiBotMsg.answerId, rspRsv)">
        <table class="historyTable">
            <tr>
                <th class="historyDate">
                    <table>
                        <tr>
                            <span class="monthAndDay">{{rspRsv.acptDt | date:'M.d'}} </span>
                            <span class="dayOfTheWeek">{{rspRsv.acptDt | weekday}}</span>
                        </tr>
                        <ng-container [ngSwitch]="rspRsv.prngstsNm">
                            <tr class="historyStatus complete" *ngSwitchCase="'택배예약'"><td>{{rspRsv.prngstsNm}}</td></tr>
                            <tr class="historyStatus cancel" *ngSwitchCase="'예약취소'"><td>{{rspRsv.prngstsNm}}</td></tr>
                            <tr class="historyStatus" *ngSwitchDefault><td>{{rspRsv.prngstsNm}}</td></tr>
                        </ng-container>
                    </table>
                </th>
                <td class="historyContents">
                    <table>
                         <tr class="goodsName">{{rspRsv.goods}}</tr>
                          <tr class="tespbillNum">{{rspRsv.prngNum}}</tr>
                           
                    </table>
                </td>
            </tr>
        </table>
        </button>

        <div *ngIf="last">
            <ng-container *ngIf="aiBotMsg.responseReserveList.length > maxReserveNum">
            <button class="moreListButton" (click)="showMoreReserveist(maxReserveNum)">
                <img id="moreImg" src="{{ locPath }}/assets/image/arrow.png" alt="more button image">
                <span id="moreText">더보기</span>
            </button><br>
            </ng-container>
            <!-- ------------------------- 예약 번호 입력 기능 삭제 --------------------------------------
            <hr class="hrMore">
            <button class="actionChangeToggleBtn" [ngClass]="{checked:showReserveToggle}" (click)="showReserveInputBox()">예약 번호 입력</button>
            ---------------------------------------------------------------------------------------- -->
            <hr class="hrBottomList">
        </div>

    </ng-container>
    
    <div class="timestamp">
        {{timestamp | date:'shortTime' | replace:'AM':'오전' | replace:'PM':'오후'}}
    </div>
</div> 